extends layout

block header_meta
	- var content_title= 'Time to Speak Russian' + ' | ' + 'О нас'
	- var content_description= ''

block header_include
	- var include_css = ['about.css']
	//- - var include_js = ['about.js']

block content
	.about_block
		.about_title О проекте
		.about_s_title= about_title
		.about_spacer
		.about_intro= about_desc

	.team_block
		.team_title
			.title_line
			.title_text КОМАНДА
		.team_members
			each member in members
				.mamber_item
					.mamber_photo(style='background-image: url(' + member.photo + ')')
					.member_name= member.i18n.name.get(locale)
					a.member_email(href='mailto:' + member.email)= member.email
					.member_intro= member.i18n.intro.get(locale)