extends layout

block header_meta
	- var content_title= 'Time to Speak Russian | ' + post.i18n.title.get(locale)
	- var content_description= ''

block header_include
	- var include_css = ['post.css']
	//- - var include_js = ['post.js']

block content
	.post_block
		.post_title=post.i18n.title.get(locale)
		.post_s_title=post.i18n.s_title.get(locale)
		.post_spacer
		.post_intro!=post.i18n.intro.get(locale)
		if post.poster
			img.post_poster(src=post.poster)
		.post_description!=post.i18n.description.get(locale)

		.post_attach_block: .attach_inner
			each unit in post.units
				.attach_item: .item_inner
					.attach_price бесплатно
					.attach_description= unit.i18n.description.get(locale)
					if unit.preview
						a.attach_button.preview(href=unit.preview, target='_blank')= (unit.attach ? 'предпросмотр' : 'скачать')
					if unit.attach
						a.attach_button.buy(href=unit.attach, target='_blank')= 'купить'




		//- .post_attach_block: .attach_inner
		//- 	each item in ['paid_pr', 'free', 'paid', 'free', 'paid', 'paid_pr', 'paid', 'paid_pr']
		//- 		.attach_item: .item_inner
		//- 			if (item == 'paid' || item == 'paid_pr')
		//- 				.attach_price $5.00
		//- 			else if (item == 'free')
		//- 				.attach_price бесплатно
		//- 			.attach_description Название файла 1 урока среднее
		//- 			if (item == 'free')
		//- 				.attach_button.preview скачать
		//- 			else if (item == 'paid_pr')
		//- 				.attach_button.preview предпросмотр
		//- 			if (item == 'paid' || item == 'paid_pr')
		//- 				.attach_button.buy купить